@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Londrina+Outline&family=Londrina+Solid&display=swap');

html, body {
    height: 100%;
    margin: 0;
    color: black;
  }


.grid-container {
    background-color: white;
    max-width: auto;
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px
}

.flex-item1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.flex-item2 {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 145px;
}

.image1{
    background-image: url("../img/dog.jpg");
    background-size: cover;
    background-position: center;
}

.learnMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EB8BE;
    color: black;
    height: 40px;
    width: 225px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Londrina Outline', sans-serif;
    border: 1px solid #000000;
    text-decoration: none;
    transition: background-color 0.8s ease-in;
}

.learnMoreButton:hover {
    background-color: rgb(233, 188, 162);
}

.bookNowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EB8BE;
    color: black;
    height: 40px; 
    width: 150px;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Josefin Slab', serif;
    border: 1px solid #000000;
    text-decoration: none;
    transition: background-color 0.8s ease-in;
}

.bookNowButton:hover {
    background-color: rgb(233, 188, 162);
}

.flex-item3 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2.5px;
    background-color: #9EB8BE; 
    font-family: 'Londrina Outline', sans-serif;
    font-weight: bold;
}

.flex-item4 {
    grid-column: 1/3;
    grid-row: 3/4;
    height: 100px;
    background-color: white;
    display: flex;
    font-size: 20px;
    letter-spacing: 2.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'Londrina Outline', sans-serif;
    font-weight: bold;
}

.donations {
    display: flex;
    gap: 50px;
}



.donationsButton {
    background-color: #D9D9D9; ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-family: Londrina Solid;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2.4px; 
    font-family: 'Londrina Solid', sans-serif;
    border: 1px solid black;
}

.flex-item5 {
    grid-column: 1/3;
    grid-row: 4/5;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: Londrina Solid; 
    opacity: 63%;
    color:white;
    text-shadow: black 15px 0 15px;
}



.image2{
    background-image: url("../img/snowflake.jpg");
    background-size: cover;
    background-position: center;
    
}


.flex-item6 {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #D9D9D9;
    height: 120px;
    display: flex;
    font-size: 20px;
    letter-spacing: 2.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'Londrina Outline', sans-serif;
    font-weight: bold;
}

.flex-item7 {
    grid-column: 1/3;
    grid-row: 6/7;
}

.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EB8BE;
    color: white;
    height: 40px; 
    width: 130px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Josefin Slab', serif;
    border: 1px solid black;
}



html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

/*    Header    */

.top-header  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #D9D9D9;
    height:40px;
}

.logo {
    margin-left: 30px;
    font-family: 'Londrina Solid', sans-serif;
}

.logo a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.logo a:hover {
    color: #e97c3fff;
    transition-timing-function: ease-in;
    transition: .8s;
}

.contact-button {
    display: flex;
    height: 36px;
    width: 100px;
    background-color: #e97c3fff;
    align-items:center;
    justify-content: center;
    color: white;
    margin-top:15px;
    margin-right: 50px;
    border-radius: 20px;
    font-family: 'Josefin Slab', serif;
    transition: background-color 0.3s, font-size 0.05s;
}

.contact-button:hover {
    background-color: #9EB8BE;
    font-size: 17px;
}

.main-logo {
    display: flex;
    background-color: #d9d9d9ff;
    height: 80px;
    font-family: 'Londrina Outline', sans-serif;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    font-size: 25px;
}

.caption-logo {
    display: flex;
    background-color: #d9d9d9ff;
    height: 75px;
    font-family: 'Josefin Slab', serif;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    box-shadow: 0px 3px 3px gray;
}


.footer{
    bottom: 0;
    position: absolute;
}

.copyright{
    overflow: hidden;
    padding: 10px 0em 45px 0em; 
    text-align: center;
    background: #9EB8BE;
    height: 70px;
    box-shadow: 0px -3px 3px gray;

}

.copyright p{
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Londrina Solid', sans-serif;
}

.copyright i {
    font-size:25px;
}
.copyright a{
    text-decoration: none;
    color: black;

}

ul.contact{
    margin: 0;
    padding: 0em 0em 0em ;
    list-style: none;
}

ul.contact li{
    display: inline-block;
    padding: 0em 2px;
    font-size:17px;

}

ul.contact li a{
    color: black;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 10px;
    text-align: center;
    transition: font-size 0.3s;
}

ul.contact li a:hover {
    font-size: 24px;
}